<form id="loginForm">
    
    <div>
        <label for="email">Email Address</label>
        <input type="email" name="email" placeholder="exam@ple.com"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="********"/>  
    </div>

    <button name="submit" id="loginBtn">Login</button>
</form>