<form id="regForm">
    
    <div>
        <label for="name">Full Name</label>
        <input type="text" name="name" placeholder="John Doe"/>
    </div>

    <div>
        <label for="email">Email Address</label>
        <input type="email" name="email" placeholder="exam@ple.com"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="********"/>  
    </div>

    <div>
        <label for="password">Re-Type Password</label>
        <input type="password" name="r-password" placeholder="********"/>  
    </div>

    <button name="submit" id="regBtn">Register</button>
</form>

        
        